@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif
}

html {
    background-color: #DDDDDD;
}

svg:hover {
    scale: 110%;
    transition: 200ms;
}

svg:active {
    scale: 90%;
    transition: 100ms;
}